# Environnement virtuel
.venv/

# Données volumineuses (MovieLens)
Data/

# Données volumineuses (Last.fm) + artefacts lastfm
lastfm/data/

# Artefacts générés
data/processed/
reports/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
